<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2017-2019 Tensigma Ltd. All rights reserved.
  ~ Use of this source code is governed by Microsoft Reference Source
  ~ License (MS-RSL) that can be found in the LICENSE file.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.atlant.let">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name="io.atlant.let.MyApplication"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.NoActionBar.Gradient">

    <activity
      android:name="io.atlant.let.activities.selected_app.SelectedAppActivity"
      android:theme="@style/AppTheme.NoActionBar.SplashScreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:exported="true"
      android:name="io.atlant.let.activities.demo.DemoActivity"
      android:theme="@style/AppTheme.NoActionBar.SplashScreen"/>

    <activity android:name="io.atlant.let.activities.main.MainActivity"/>
    <activity android:name="io.atlant.let.activities.details.DetailsActivity"/>

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/google_maps_key"/>

  </application>

</manifest>